*{
    margin: 0;
    padding: 0;
}


.padding{
    padding:  100px 12rem ;
    /* height: 100vh; */

}

.hero{
    display: flex;
    /* margin: 0 auto; */
    justify-content: space-between;
    /* flex-wrap: wrap-reverse; */
    /* height: 100%; */
}

.hero-text{
    margin:143px 0 ;
    width: 50rem;
}

.small-text{
    font-size: 30px;
    font-family: Cormorant SC;
    font-weight: bold;
    color: #FF3147;
    margin-bottom: 1.5rem;
}

.main-text{
    font-size: 60px;
    font-family: Cormorant SC;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 900;
}





.para-text{
    font-size: 16px;
    font-family: Poppins;
    line-height: 30px;
    margin-bottom: 2rem;
    width: 80%;
}
.hero-text>button{
    background-color: #FF3147;
    color: white;
    font-family: Poppins;
    font-weight: bold;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 2px;
}

.hero-img{
    width: 487px;
height:650px;
}

#service{
    background-color: #FAFAFA;
    overflow: hidden;
    
}

.service-main-text{
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;

}

.service-para{
    margin-left: 4rem;
}

.carousel{
    position: relative;
    right: -221px;
}

.item>img{
    height: 430px;
    width: 100%;
}

.item{
    position: relative;
}
.custom-dots {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: start;
    margin-left: 13rem;
  }
  .custom-dots .dots {
    background: none;
    border: none;
    padding: 0;
    margin: 0 5px;
    cursor: pointer;
    outline: none;
    position: relative;
  }

  .custom-dots .dots span{
    background: #FF3147; /* Default color for dots */
    width: 6px; /* Default width for dots */
    height: 6px; /* Default height for dots */
    display: inline-block; /* Ensures dots are inline */
    border-radius: 50%; /* Makes the dots circular */
    position: relative; /* Required for the pseudo-element */
    transition: all 0.3s; /* Smooth transition for hover effects */
    margin-left: 16px;
  }

  .custom-dots .dots.active span::before,
  .custom-dots .dots:hover span::before {
    content: ''; /* No content inside the pseudo-element */
    position: absolute; /* Position relative to the span */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the circle */
    width: 24px; /* Diameter of the circle */
    height: 24px; /* Diameter of the circle */
    border: 2px solid #FF3147; /* Border color and thickness */
    border-radius: 50%; /* Makes the border circular */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    /* background: #FF3147; */
  }

.item-back{
    width: 100%;
    height: 430px;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #FF3147;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.item-back-display{
}

.item-back-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    color: #FAFAFA;
    font-family: Cormorant SC;;

}

.item-back-content>a{
       text-align: end;
       font-size: 13px;
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
gap: 1rem;
padding: 6px 8px; 
background-color: #FAFAFA;
color: #FF3147;
border: none;
border-radius: 2px;
text-decoration: none;
font-weight: bolder;
}

.item-back-content>p{
    text-align: center;
    padding: 0 1rem;
    font-size: 13px;
}

.strength{
    width: 15rem;
}


.strength>img{
    width: 3rem;
    height: 3rem;
}

.strength>h6{
    font-family: poppins;
    font-size: 20px;
    font-weight: bolder;
}

.strength>p{
    font-family: poppins;
    font-size: 15px;
}

.project-desc{
    background: #F6F6F6;
    width: 26rem;
    height: 10rem;
    padding: 3rem 2rem;
    cursor: pointer;
    font-family: poppins;
}

.focus-style {
    background-color: #FF3147;
    color: #F6F6F6;
}

.project-image{
    width: 30rem;
    height: 30rem;
}

.growth{
    background-color: #FAFAFA;
}

.growth-margin{
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 3rem;
    height: 233px;
    font-family: poppins;
    background-color: white;
}

.growth-margin:hover{
    box-shadow: 2px 2px 15px #b6b6b6fa;

}
.growth-margin>span{
    font-size: 3rem;
}

.mini{
    font-size:45px;
}

.feedback-quote{
    width: 35rem;
    margin: auto;
    font-size: 20px;
}

.feedback-quote>img{
    position: relative;
    top: 1.5rem;
    left: -14px;
    z-index: -1;
    width: 3rem;
    height: 2rem;

}

.name{
    color: #FF3147;
    font-size: 22px;
    font-weight: 900;
    font-family: poppins;
}

.occupation{
    color: #bfbfbf
}

footer{
    background-color: #FF3147;

}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .modal-body{
    padding: 2rem;
  }

  .modal-title{
    font-weight: 900;
    margin-bottom: 2rem;
  }

  .contactName{
    display: flex;
    gap: 1rem;
    position: relative;
  }

  .contactName div{
    position: relative;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #6F718F99;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 2rem;
    color: #2D3142;
    font-size:14px ;
    font-family: poppins;
    font-weight: bolder;

  }
  
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="text"]:focus,
  input[type="email"]:focus{
    outline: none;
  }

  input[type="text"]::placeholder,
  input[type="email"]::placeholder{
    color: #6F718F99;
    font-size: 12px;
  }
  .form-check-input:checked{
    background-color: #FF3366;
    border: #FF3366;
  }

  .form-check-input:focus{
    border:2px solid #FF3366;
    box-shadow: none;
  }

  .form-check-label{
    display: block;
    margin-bottom: 5px;
    color: #616678;
    opacity: 90%;
  }

  .submit,.submit:hover,.submit:active{
    width: 100%;
    margin: .5rem 0;
    background-color: #FF3366!important;
    border: none;
    outline: none;
  }

  .emailLable,.fnameLable,.lnameLable{
    transition: top 0.3s ease;
    position: absolute;
    top: 1rem;
    color: #6F718F99;
    left: .5rem;
    font-size: 12px;
    font-weight:bold;
    font-family: poppins;
  }
 
@media only screen and (max-width: 1010px) {
    .padding{
        padding: 100px 4rem;
    }
  }
@media only screen and (max-width: 850px) {
    .padding {
        padding: 100px 1rem;
    }

    .hero-img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        filter: brightness(70%);
    }
    .hero-text {
        margin: 33px auto;
        width: 80%;
        color: white;
    }
    .small-text {
        font-size: 19px;
        margin-bottom: 0.5rem;
    }
    .main-text{
        font-size: 34px;
    line-height: 36px;
    margin-bottom: 1rem
    }
    .para-text {
        font-size: 12px;
        line-height: 21px;
        
    }
    .service-content{
        flex-direction: column;
    }
    .service-para {
        margin-left: 0rem;
    }
    .carousel{
        right: 0;
    }
    .custom-dots {
       
        justify-content: center;
        margin: 2rem 0;
    }
    .project{
        flex-direction: column;

    }
    .project-image{
        width: 100%;
        height: 20rem;
    }
    .project-desc{
        width: 100%;
        padding: 2rem;

    }
    .project-desc>p{
        font-size: 15px;
        line-height: 16px;
    }
.feedback-quote {
    width: 100%;
    font-size: 13px;
}
    footer{
        padding: 13px 1rem !important;
    }
  }